# Cache & temp
cache/
Cache/
.cache/
*.cache
*.log
*.tmp
*.swp
*.swo
*.bak
*.lock
*.pid
# Secrets
*.env
.env
.env.*
*.key
*.pem
*.crt
*.p12
*.secret
*.token
*.session
# Machine specific
machine-id
user-dirs.dirs
user-dirs.locale
monitors.xml
Trolltech.conf
pulse/
dconf/
# Browsers / Electron
google-chrome/
chromium/
BraveSoftware/
Code/Cache/
Code/CachedData/
Code/User/workspaceStorage/
Code
Code/CachedExtensionVSIXs 
Code/logs/
Code/User/globalStorage/
Code/User/History/
Code/User/Backups/
Code/User/Crashpad/
Code/User/Crashpad/completed/
Code/User/Crashpad/pending/
Code/User/Crashpad/reports/     
cava
mozilla
firefox
spotify
libreoffice
go
Thunar
xsettingsd
create-next-app-nodejs
evolution
gthumb
gtk-4.0
gtk-3.0
nextjs-nodejs
spicetify
xfce4
gwenviewrc
mimeapps.list
pavcontrol.ini
trashrc
mpv
Proton
btop
nwg-look
pypoetry
qt6ct
rog
session
kdeconnect
Kvantum
vlc
QtProject
QtProject.conf
