/* Dock container */
window {
    background: rgba(30, 30, 46, 0.55);
    /* backdrop-filter: blur(20px); */
    border-radius: 18px;

    border: 1px solid rgba(255, 255, 255, 0.124);
    box-shadow:
    
        inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

/* Inner container */
#box {
    padding: 12px 1px;
}

/* Dock items */
button {
    padding: 8px;
    margin: 0 6px;
    color: #cdd6f4;
    font-size: 14px;

    border-radius: 12px;
    background: transparent;

    transition: all 0.2s ease;
}



